body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background: url('./download.jpeg') no-repeat center center fixed;
    background-size: cover;
}

header {
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
    padding: 10px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.1s;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #47afff;
}

section {
    padding: 50px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px;
    border-radius: 10px;
}

#home h1 {
    margin-bottom: 10px;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-container {
    display: flex;
    align-items: center;
    text-align: left;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
}

#about img {
    max-width: 150px;
    border-radius: 50%;
    transition: transform 0.1s;
    margin-right: 20px;
}

#about img:hover {
    transform: scale(1.1);
}

.about-text {
    max-width: 600px;
}

.about-text p {
    margin: 10px 0;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    margin: 15px;
    padding: 15px;
    width: 300px;
    transition: transform 0.3s;
    border-radius: 10px;
}

.project:hover {
    transform: translateY(-10px);
}

.social-media {
    margin-top: 20px;
}

.social-media .social-icon {
    margin: 0 10px;
    font-size: 24px;
    color: #333;
    transition: color 0.3s, transform 0.3s;
}

.social-media .social-icon:hover {
    color: #47afff;
    transform: scale(1.2);
}

footer {
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.education-container, .education-item {
    text-align: left;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
}
